@media only screen and (max-width: 900px) and (min-width: 500px) {
    .container {
      max-width: 100%;
      margin-left: 10px;
      margin-right: 10px;
    }
    header {
      height: 75px;
    }
    header .container .logo a {
      font-size: 1.5em;
    }
    header .container nav {
      display: none;
    }
    header .container .shopping {
      width: 15%;
    }
    header .shopping .style-icon {
      font-size: 20px;
    }
    header .shopping .itemCount {
      top: -10px;
      right: -10px;
      height: 20px;
      width: 20px;
    }
  
    /* slider */
    slider .slider-container {
      height: auto;
    }
    slider .slider-container .slider img {
      width: 100%;
      height: auto;
    }
    slider .slider-container .slider span {
      letter-spacing: 5px;
    }
    slider .slider-container .slider span h2 {
      font-size: 1.5em;
    }
    /* bets sellers */
    bestSeller .container {
      margin-top: 10px;
    }
    bestSeller .container .item {
      flex-wrap: wrap;
    }
    bestSeller .container .item li {
      width: 23%;
    }
    bestSeller .container .item li:first-child {
      width: 100%;
    }
    bestSeller .container .item li .describe {
      margin-top: 0%;
      text-align: center;
      margin-bottom: 10px;
    }
    shipping .shipping-container {
      margin-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
    }
  
    shipping .shipping-container ul li .shipping-icon {
      font-size: 18px;
      margin-bottom: 10px;
    }
    shipping .shipping-container ul li h3 {
      font-size: 1em;
  }
  shipping .shipping-container ul li p {
      font-size: 0.5em;
  }
  shipping .shipping-container {
      height: 150px;
  }
  
   /* Advertising */
   Advertising .advertising-container{
      height: 200px;
      width: 100%;
  }
  Advertising .advertising-container img{
      margin-left: 25px;
      margin-right: 25px;
      max-width: 150px;
      max-height: 150px;
  }
  products .caption {
      height: 100px;
  }
  products .item li {
      max-width: 33%;
  }
  infor .infor-container{
      display: flex;
      height: auto;
      flex-direction: column;
  }
  infor .infor-container .brand{ 
    padding-top: 20px;
    padding-bottom: 20px;
}
  infor .infor-container .brand img{ 
      width: 20%;
  }
  }
 